*{
       margin: 0;
       padding: 0;
}
body{
    background-color: red;
}
.gameContainer{
 background-image: url(MM\ scene.jpg);
 background-repeat: no-repeat;
 background-size: 100vw 100vh;
 width: 100%;
 height: 100vh;
}
.kiki{
    background-image: url(bhoot.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 200px;
    height: 260px;
     position:absolute;
     bottom: 0;
     left: 44px;
    
}
.obstacle{
    width:310px;
    height: 295px;
    background-image: url(babu.png);
    background-size: cover;
    position:absolute;
    bottom:0;
    left: 44vw;
}

.animateBhoot{
    animation: bhoot 0.6s linear;
}

.obstacleAni{
    animation: obstacleAni 5s linear infinite;
}

.gameOver{
    position: relative;
    top:63px;
    font-size: 53px;
    text-align: center; 
    font-family: 'Ubuntu', sans-serif;
}

#scoreCont{
    font-size: 25px;
    color: #3a5421;
    font-weight: bold;
    position: absolute;
    right: 45px;
    top: 31px;
    border: 2px solid black;
    padding: 10px;
    font-family: 'Ubuntu', sans-serif;
    border-radius: 10px;
}

@keyframes bhoot{
    0%{
        bottom: 0;
    }
    50%{
        bottom: 422px;
    }
    100%{
        bottom: 0; 
    }
}

@keyframes obstacleAni{
    0%{
        left: 100vw;
    }
    100%{
        left: -10vw;
    }
}